* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,
footer {
  background-color: #1f2937;
  color: white;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
nav {
  width: 50%;
  max-width: 500px;
  height: 50px;
}
nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
  width: 100%;
}
nav > ul > li {
  color: #efe7eb;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  font-size: 18px;
}

footer {
  height: 60px;
  padding: 20px 50px 20px 50px;
  text-align: center;
}

header h3 {
  padding-left: 215px;
  font-size: 24px;
  color: #f9faf8;
}
.first-section {
  background-color: #1f2937;
  width: 100%;
  height: 275px;
  max-height: 700px;
  color: white;
  display: flex;
  justify-content: space-evenly;

  padding: 50px;
  margin-top: 30px;
}

.introduction {
  padding: 0 10px 20px 10px;
  width: 300px;
}
.introduction h2 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  padding: 0;
  margin: 0;
}
.introduction p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  border: none;
  border-radius: 0.4em;
  padding: 5px 20px;
  color: #e5e7eb;
  margin-top: 5px;
}

.intro-image {
  height: 172px;
  width: 402px;
  position: relative;
  text-align: center;
  color: white;
}

.first-section img {
  border: 1px dotted;
  height: 172px;
  width: 402px;
  background-color: grey;
}

.third-section {
  width: 100%;
  height: 250px;
  text-align: center;
  background-color: #e5e7eb;
}

.third-section p {
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
  padding: 10px 170px 10px 170px;
}

.by-whom {
  text-align: right;
}

.last-section {
  height: 200px;
  padding: 50px 100px 40px 100px;
}

.call-to-action {
  background-color: #3883f6;
  display: flex;
  border-radius: 0.3em;
  justify-content: space-between;
  padding: 30px 100px;
}

.call-to-action button {
  border: 2px solid white;
  border-radius: 0.5em;
  width: 120px;
  height: 40px;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 15px;
}

.info-head {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.information {
  width: 100%;
  height: 275px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.info-card {
  width: max-content;
}

.information img {
  border: 2px solid #3883f6;
  border-radius: 0.4em;
  width: 120px;
  height: 120px;
}

.information p {
  max-width: 140px;
  word-wrap: break-word;
}

.second-section {
  padding-top: 40px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}
